<template>
    <div>
        <GFormTextarea
            v-model="textarea_value"
            icon=""
            :label="$transl8.t(textarea_label)"
            :placeholder="$transl8.t(textarea_label)"
        >
        </GFormTextarea>

        <v-row 
            :no-gutters="$vuetify.breakpoint.smAndUp === true ? false : true"
        >
            <v-col
                cols="12" xs="12" sm="6" md="6" lg="6" xl="6"
                class="text-left"
                :class="{ 'my-1': !$vuetify.breakpoint.smAndUp }"
            >
                <GFormUpload
                    v-model="upload_value"
                    :label="$vuetify.breakpoint.smAndUp === true ? $transl8.t('#::global_upload') : ''"
                    :width="$vuetify.breakpoint.smAndUp === true ? 'auto' : '100%'"
                >
                </GFormUpload>
            </v-col>
            <v-col
                cols="12" xs="12" sm="6" md="6" lg="6" xl="6"
                class="text-right"
                :class="{ 'my-1': !$vuetify.breakpoint.smAndUp }"
            >
                <GFormButton
                    v-on:ev_click="ev_submit_click"
                    icon="mdi-send-circle-outline"
                    :label="$vuetify.breakpoint.smAndUp === true ? $transl8.t('#::global_send') : ''"
                    :width="$vuetify.breakpoint.smAndUp === true ? 'auto' : '100%'"
                >
                </GFormButton>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { RndGen } from '~/tsmodules/rndgen'
import { IModelMessagePayload } from '~/tsmodules/api/message/models';

export default Vue.extend({
    data() {
        return {
            case_ref_value: '',

            textarea_value: '',
            upload_value: [],
        }
    },

    props: {
        /**
         * type: string. default: ''
         */
        case_ref: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: '#::gcaseeditor_label_textarea'
         */
        textarea_label: {
            type: String,
            default: '#::gcaseeditor_label_textarea',
        },
    },

    watch: {
        case_ref: {
            immediate: true,
            handler(nv: string) {
                this.case_ref_value = nv;
            },
        },
    },

    methods: {
        async send_data() {
            
        },

        async ev_submit_click() {
            // case :: create (if not already existing)
            if(!!this.case_ref_value === false) {
                await this.$tsmapi.case().CasePost(this.case_ref_value)
                .then((e) => {
                    this.case_ref_value = e.ref_obj;
                })
                .catch(() => {
                    this.$router.push({ path: '/e', query: { r: this.$route.path, s: 'g-case-editor', e: 'cs'}});
                })
            }

            // message :: create
            var message_ref_value = ''
            await this.$tsmapi.message().MessagePost(this.case_ref_value, new RndGen().UUIDv4(), { message: this.textarea_value } as IModelMessagePayload)
            .then((e) => {
                this.textarea_value = '';
                message_ref_value = e.ref_obj;  
            })
            .catch(() => {
                this.$router.push({ path: '/e', query: { r: this.$route.path, s: 'g-case-editor', e: 'ms'}});
            })

            // files :: create
            await this.$tsmapi.file().FilePostAll(this.case_ref_value, message_ref_value, this.upload_value)
            .then((e) => {
                this.upload_value = [];
            })
            .catch(() => {
                this.$router.push({ path: '/e', query: { r: this.$route.path, s: 'g-case-editor', e: 'fs'}});
            })
            
            this.$emit('ev_submit_click', this.case_ref_value);
        },
    },
})
</script>

<style scoped>

</style>
