<template>
    <div
        class="g-image-ro"
    >
        <v-skeleton-loader
            v-if="skeleton === true && ($fetchState.pending || data === '')"
            type="image"
            style="margin: auto;"
            :style="{ 
                'width': !!width === true ? width : null, 
                'height': !!height === true ? height: null,
                'max-width': !!max_width === true ? max_width: null,
                'max-height': !!max_height === true ? max_height: null,
            }"
        ></v-skeleton-loader>

        <v-img
            v-else
            :src="data"
            style="margin: auto;"
            :width="width"
            :height="height"
            :max-width="max_width"
            :max-height="max_height"
        />
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            data: '',
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with category in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-image'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-image',
        },

        /**
         * type: string. default: auto.
         */
        width: {
            type: String,
            default: 'auto',
        },

        /**
         * type: string. default: auto. 
         */
        max_width: {
            type: String,
            default: 'auto',
        },

        /**
         * type: string. default: auto.
         */
        height: {
            type: String,
            default: 'auto',
        },

        /**
         * type: string. default: auto. 
         */
        max_height: {
            type: String,
            default: 'auto',
        },
    
        /**
         * type: boolean. default: false.
         */
        skeleton: {
            type: Boolean,
            default: false,
        },
    },

    async fetch() {
        this.data = ''
        this.$tsmapi.content().ContentGet(this.asset_identifier, this.asset_category)
        .then((e) => {
            this.data = e.response?.content! || ''
        })
        .catch((e) => {
            // silent
        })
    },
})
</script>

<style scoped>

</style>
