// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// $timeline-divider-width: 96px;
$timeline-divider-width: 65px;
