<template>
    <div
        class="g-content-rw"
    >
        <GFormWysiwyg
            ref="message"
            v-model="message_value"
        >
        </GFormWysiwyg>

        <v-row class="pt-1" justify="end">
            <v-col
                v-if="transmit_show === false"
                cols="12" xs="12" sm="12" md="12" lg="3" xl="3"
            >
                <GFormButton
                    width="100%"
                    v-on:ev_click="ev_editor_submit"
                    :label="$transl8.t('#::global_save')"
                >
                </GFormButton>
            </v-col>

            <v-col 
                v-else
                cols="12" xs="12" sm="12" md="12" lg="3" xl="3"
            >
                <GFormButton
                    width="100%"
                    v-on:ev_click="ev_editor_submit"
                    icon="mdi-check"
                    icon_color="var(--success-cp)"
                    color="var(--success-cp)"
                    :label="$transl8.t('#::global_success')"
                >
                </GFormButton>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelContent, IModelContentPayload } from '~/tsmodules/api/content/models'

export default Vue.extend({
    data() {
        return {
            transmit_show: false,
            transmit_status: false,

            message_value: '' as String,
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with asset_language in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-content'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-content',
        },

        /**
         * type: string. required.
         */
        asset_language: {
            type: String,
            required: true,
        },
    },

    watch: {
        asset_identifier: {
            handler: function(nv: string, ov: string) {
                this.$fetch()
            },
        },
        asset_language: {
            handler: function(nv: string, ov: string) {
                this.$fetch()
            },
        },
    },

    async fetch() {
        this.message_value = await this.data_get();
    },

    methods: {
        async ev_editor_submit(): Promise<void> {
            this.transmit_status = await this.data_set();
            this.transmit_show = true;
            setTimeout(() => {
                this.transmit_show = false;
            }, 5000)
        },

        async data_get(): Promise<string> {
            return this.$tsmapi.content().ContentGet(`${this.asset_identifier}_${this.asset_category}___edit`, this.asset_language)
            .then((e) => {
                return e.payload.data || ''
            })
            .catch(() => {
                return '';
            })
        },

        async data_set(): Promise<boolean> {
            return Promise.all([
                this.$tsmapi.content().ContentSet(`${this.asset_identifier}_${this.asset_category}___edit`, this.asset_language, { data: (this.$refs as any).message.value_data } as IModelContentPayload),
                this.$tsmapi.content().ContentSet(`${this.asset_identifier}_${this.asset_category}___html`, this.asset_language, { data: (this.$refs as any).message.value_html } as IModelContentPayload),
            ])
            .then(() => {
                return true;
            })
            .catch(() => {
                return false;
            })
        },
    },
})
</script>

<style scoped>

</style>
