<template>
    <div>
        <v-row justify="center" align="center">
            <v-col :sm="10" :md="10" :lg="6" class="text-left">
                <v-divider
                    style="border-bottom: 1px solid #EEE"
                >
                </v-divider>
                <GContentRo
                    asset_identifier="p-startpage"
                    :asset_language="$i18n.locale"
                ></GContentRo>
                <v-divider
                    style="border-bottom: 1px solid #EEE"
                >
                </v-divider>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            d: 'a',
        }
    },
})
</script>

<style scoped>

</style>
