<template>
    <div class="g-connect">
        <v-row>
            <v-col cols="12" class="text-left">
                <GConnectQrCode
                    :data="get_link"
                >
                </GConnectQrCode>

                <GConnectClipboard
                    :data="get_link"
                >
                </GConnectClipboard>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        // component
        // // // // // // // // // // // // // // // // // // // // 
        case_ref: {
            type: String,
            default: '',
        },
    },

    computed: {
        get_link(): string {
            var port = location.port === '80' || location.port === '443' ? '' : `:${location.port}` 
            return `${location.protocol}//${location.hostname}${port}/j/ucase?c=${this.case_ref}`
        },
    },
})
</script>

<style scoped>

</style>