<template>

</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    layout: 'blank',
    
    mounted() {
        this.$router.push({ path: '/j/loading', params: { r: this.$route.path }})
    }
})
</script>

<style scoped>

</style>
