<template>
 
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    mounted() {
        this.$router.push({ path: '/u', query: { c: this.$route.query.c }})
        console.log("###");
        // query: { c: this.$route.query?.c || '' } }
    },
})
</script>

<style scoped>

</style>
