<template>
  <v-app id="inspire">
      <LayoutHeader></LayoutHeader>

      <v-main>
            <v-row no-gutters class="content-container">
                <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

                <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8" class="contentmiddle-container">
                    <div style="height: 100%;" class="pa-3">
                        <GSitenav></GSitenav>
                        <Nuxt />
                    </div>
                </v-col>

                <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
            </v-row>
      </v-main>

      <LayoutFooter></LayoutFooter>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({

})
</script>

<style scoped>
.content-container {
  height: 100%; 
  background: #F1F1F1;
}
.contentmiddle-container {
  height: 100%;
  border-left: 1px solid var(--primary-cl); 
  border-right: 1px solid var(--primary-cl); 
  background: #FFF;
}
</style>
