<template>
    <v-app id="inspire">
        <v-main style="background: rgb(2,0,36); background: linear-gradient(210deg, rgba(2,0,36,1) 0%, rgba(25,118,210,1) 35%, rgba(100,181,246,1) 100%);">
            <div style="position: absolute; bottom: 0px; right: 0px; width: 300px; height: auto;" class="text-right">
                <h1 
                    class="font--headline1 mb-3 mr-3"
                    :class="$vuetify.breakpoint.mdAndUp ? 'font--headline1' : 'font--headline1sm'"
                    style="color: var(--primary-cb)"
                >powered by REVEIL</h1>
            </div>
            <v-row no-gutters class="content-container">
                <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

                <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8">
                    <div style="height: 100%;" class="pa-3">
                        <Nuxt />
                    </div>
                </v-col>

                <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
            </v-row>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({

})
</script>

<style scoped>
.content-container {
  height: 100%; 
}
</style>
