<template>
    <div class="g-login-mgmt">
        <v-row
            no-gutters
        >
            <v-col>
                <GFormTextfield
                    v-model="username_value"
                    label="#::global_username"
                >
                </GFormTextfield>

                <GFormPassword
                    v-model="password_value"
                    label="#::global_password"
                >
                </GFormPassword>
            </v-col>
        </v-row>

        <v-row
            v-if="error_value"
            no-gutters
        >
            <v-col>
                <v-alert
                    dense
                    outlined
                    type="error"
                    class="my-3"
                    color="var(--error-cp)"
                >
                    {{ error_value }}
                </v-alert>
            </v-col>
        </v-row>

        <v-row
            no-gutters
            class="mt-3"
        >
            <v-col class="text-right">
                <GFormButton
                    icon=""
                    label="#::global_login"
                    v-on:ev_click="ev_login_click"
                >
                </GFormButton>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
            
            username_value: '',
            password_value: '',

            error_value: '',
        }
    },

    methods: {
        ev_login_click() {
            this.$emit("ev_submit")

            this.$tsmapi.authmgmt().AuthMgmtLogin(this.username_value, this.password_value, false)
            .then((e) => {
                if(e !== null) {
                    this.$emit("ev_submit_success");
                }
                if(e === null) {
                    throw Error();
                }
            })
            .catch(() => {
                this.error_value = this.$transl8.t('#::gloginmgmt_error').toString();
                this.$emit("ev_submit_failure");
            })
            .finally(() => {
                this.username_value = '';
                this.password_value = ''; 
            })
        }
    },
})
</script>

<style scoped>

</style>
