<template>
    <div class="g-login-user-ec">
        <v-row
            no-gutters
        >
            <v-col>
                <GFormTextfield
                    v-model="case_ref_value"
                    label="#::global_caseid"
                    :rules_override="case_ref_rules"
                >
                </GFormTextfield>

                <GFormPassword
                    v-model="password_value"
                    label="#::global_password"
                    :rules_override="password_rules"
                >
                </GFormPassword>
            </v-col>
        </v-row>

        <v-row
            v-if="error_value"
            no-gutters
        >
            <v-col>
                    <v-alert
                        dense
                        outlined
                        type="error"
                        class="my-3"
                        color="var(--error-cp)"
                    >
                        {{ error_value }}
                    </v-alert>
            </v-col>
        </v-row>

        <v-row
            no-gutters
            class="mt-3"
        >
            <v-col class="text-right">
                <GFormButton
                    icon=""
                    label="#::global_login"
                    v-on:ev_click="ev_login_click"
                >
                </GFormButton>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
            
            case_ref_value: '',
            case_ref_rules: [
                (value: string) => !!value || this.$transl8.t('#::global_required'),
                (value: string) => (value && value.length >= 36) || this.$transl8.t('#::validate_tooshort_nlength').toString().replace('{{ n }}', '36'),
            ],

            password_value: '',
            password_rules: [
                (value: string) => !!value || this.$transl8.t('#::global_required'),
                (value: string) => (value && value.length >= 8) || this.$transl8.t('#::validate_tooshort_nlength').toString().replace('{{ n }}', '8'),
            ],

            error_value: '',
        }
    },
    
    props: {
        case_ref: {
            type: String,
            default: '',   
        },
    },

    watch: {
        case_ref: {
            immediate: true,
            handler: function(nv: string, ov: string) {
                this.case_ref_value = nv;
            },
        },
    },

    methods: {
        ev_login_click() {
            this.$emit("ev_login_submit")

            this.$tsmapi.authuser().AuthUserLogin('anonym', this.password_value, false, this.case_ref_value)
            .then((e) => {
                if(e !== null) {
                    this.$emit("ev_submit_success");
                }
                if(e === null) {
                    throw Error();
                }
            })
            .catch(() => {
                this.error_value = this.$transl8.t('#::gloginuserec_error').toString();
                this.$emit("ev_submit_failure");
            })
            .finally(() => {
                this.case_ref_value = '';
                this.password_value = ''; 
            })
        }
    }, 
})
</script>

<style scoped>

</style>
