<template>
    <v-dialog
        ref="dialog"
        :value="show"
        hide-overlay
        :width="width"
        :persistent="control_persistent"
        @change="ev_change"
        @click:outside="ev_close"
        @keydown.esc="ev_close"
    >
        <v-card
            :color="color"
            class="pb-2"
        >
            <v-card-title class="font--headline2 pt-3 pb-1">
                <slot name="head">
                    <span v-html="head_html"></span>
                </slot>
            </v-card-title>

            <v-card-text class="font--content1 pt-2 pb-2">
                <slot name="body">
                    <span v-html="body_html"></span>
                </slot>
            </v-card-text>

            <v-card-actions v-if="button_accept_enable === true || button_reject_enable === true">
                <v-row no-gutters>
                    <v-col class="text-right">
                        <slot 
                            name="button_accept"
                            v-if="button_reject_enable === true"
                        >
                            <v-btn
                                v-if="button_reject_enable === true"
                                color="var(--error-cp)"
                                @click="ev_button_reject_click"
                                outlined
                            >
                                <v-icon
                                    dark
                                    left
                                >
                                    {{ button_reject_icon }}
                                </v-icon>
                                {{ $transl8.t(button_reject_label) }}
                            </v-btn>
                        </slot>

                        <slot 
                            name="button_reject"
                            v-if="button_accept_enable === true"
                        >
                            <v-btn
                                color="var(--success-cp)"
                                @click="ev_button_accept_click"
                                outlined
                            >
                                <v-icon
                                    dark
                                    left
                                >
                                    {{ button_accept_icon }}
                                </v-icon>
                                {{ $transl8.t(button_accept_label) }}
                            </v-btn>
                        </slot>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    model: {
        prop: 'show',
        event: 'ev_change'  
    },

    props: {
        /**
         * type: boolean. default: false.
         */
        show: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #ccc.
         */
        color: {
            type: String,
            default: '#FFF',
        },

        /**
         * type: string. default: 80%
         */
        width_xs: {
            type: String,
            default: '80%',
        },

        /**
         * type: string. default: 80%
         */
        width_sm: {
            type: String,
            default: '80%',
        },

        /**
         * type: string. default: 80%
         */
        width_md: {
            type: String,
            default: '80%',
        },

        /**
         * type: string. default: 50%
         */
        width_lg: {
            type: String,
            default: '50%',
        },

        /**
         * type: string. default: 50%
         */
        width_xl: {
            type: String,
            default: '50%',
        },

        /**
         * type: string. default: ''
         */
        head_html: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: ''
         */
        body_html: {
            type: String,
            default: '',
        },

        /**
         * type: boolean. default: false
         */
        button_accept_enable: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #::accept
         */
        button_accept_label: {
            type: String,
            default: '#::global_accept',
        },

        /**
         * type: string. default: mdi-check
         */
        button_accept_icon: {
            type: String,
            default: 'mdi-check',
        },

        /**
         * type: string. default: ev_button_accept_click
         */
        button_accept_emit_click: {
            type: String,
            default: 'ev_button_accept_click',
        },

        /**
         * type: boolean. default: false
         */
        button_accept_autoclose: {
            type: Boolean,
            default: false,
        },

        /**
         * type: boolean. default: true
         */
        button_reject_enable: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #::reject
         */
        button_reject_label: {
            type: String,
            default: '#::global_reject',
        },

        /**
         * type: string. default: mdi-check
         */
        button_reject_icon: {
            type: String,
            default: 'mdi-close',
        },

        /**
         * type: string. default: ev_button_reject_click
         */
        button_reject_emit_click: {
            type: String,
            default: 'ev_button_reject_click',
        },

        /**
         * type: boolean. default: false
         */
        button_reject_autoclose: {
            type: Boolean,
            default: false,
        },

        /**
         * type: boolean. default: true
         */
        control_persistent: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        width(): string {
            switch ((this as any).$vuetify.breakpoint.name) {
                case 'xs': return this.width_xs;
                case 'sm': return this.width_sm;
                case 'md': return this.width_md;
                case 'lg': return this.width_lg;
                case 'xl': return this.width_xl;
            } 
            return "80%";
        },
    },

    methods: {
        ev_change(data: boolean): void {
            this.$emit('ev_change', data);
        },

        ev_close(data: boolean): void {
            if(this.control_persistent === false) {
                this.$emit('ev_change', false);  
            }
        },

        animate_click(): void {
            (this.$refs.dialog as any).animateClick()
        },

        ev_button_accept_click(data: boolean): void {
            if(this.button_accept_autoclose === true) {
                this.$emit('ev_change', false);
            }
            this.$emit(this.button_accept_emit_click, data);
        },

        ev_button_reject_click(data: boolean): void {
            if(this.button_reject_autoclose === true) {
                this.$emit('ev_change', false);
            }
            this.$emit(this.button_reject_emit_click, data);
        },
    },
})
</script>

<style scoped>

</style>
