<template>
    <v-btn-toggle
        dense
        mandatory
        :value="state_selector"
    >
        <v-btn
            dark
            @click="ev_change(state_opened)"
            :color="button_color_opened"
        >
            <v-icon 
                left
                :color="icon_color_opened"
            >
                {{ icon_opened }}
            </v-icon>
            <span :style="{ 'color': label_color_opened }">
                {{ $transl8.t(label_opened) }}
            </span>
        </v-btn>

        <v-btn
            dark
            @click="ev_change(state_closed)"
            :color="button_color_closed"
        >
            <v-icon 
                left
                :color="icon_color_closed"
            >
                {{ icon_closed }}
            </v-icon>
            <span :style="{ 'color': label_color_closed }">
                {{ $transl8.t(label_closed) }}
            </span>
        </v-btn>

        <v-btn
            dark
            @click="ev_change(state_archived)"
            :color="button_color_archived"
        >
            <v-icon
                left
                :color="icon_color_archived"
            >
                {{ icon_archived }}
            </v-icon>
            <span :style="{ 'color': label_color_archived }">
                {{ $transl8.t(label_archived) }}
            </span>
        </v-btn>
    </v-btn-toggle>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. required
         */
        value: {
            type: String,
            required: true,
        },

        /**
         * type: string. default:
         */
        label_opened: {
            type: String,
            default: '#::global_case_isopened',
        },

        /**
         * type: string. default:
         */
        label_color_opened: {
            type: String,
            default: 'var(--primary-cb)',
        },

        /**
         * type: string. default:
         */
        label_closed: {
            type: String,
            default: '#::global_case_isclosed',
        },

        /**
         * type: string. default:
         */
        label_color_closed: {
            type: String,
            default: 'var(--primary-cb)',
        },

        /**
         * type: string. default:
         */
        label_archived: {
            type: String,
            default: '#::global_case_isarchived',
        },

        /**
         * type: string. default:
         */
        label_color_archived: {
            type: String,
            default: 'var(--primary-cb)',
        },

        /**
         * type: string. default:
         */
        button_color_opened: {
            type: String,
            default: 'var(--primary-cp)',
        },

        /**
         * type: string. default:
         */
        button_color_closed: {
            type: String,
            default: 'var(--primary-cp)',
        },

        /**
         * type: string. default:
         */
        button_color_archived: {
            type: String,
            default: 'var(--primary-cp)',
        },

        /**
         * type: string. default: 'o'
         */
        state_opened: {
            type: String,
            default: 'o',
        },

        /**
         * type: string. default: 'c'
         */
        state_closed: {
            type: String,
            default: 'c',
        },

        /**
         * type: string. default: 'a'
         */
        state_archived: {
            type: String,
            default: 'a',
        },

        /**
         * type: string. default: 'mdi-lock-open-variant'
         */
        icon_opened: {
            type: String,
            default: 'mdi-lock-open-variant',
        },

        /**
         * type: string. default: var(--secondary-cp)
         */
        icon_color_opened: {
            type: String,
            default: 'var(--secondary--cp)'
        },

        /**
         * type: string. default: 'mdi-lock'
         */
        icon_closed: {
            type: String,
            default: 'mdi-lock',
        },

        /**
         * type: string. default: var(--secondary-cp)
         */
        icon_color_closed: {
            type: String,
            default: 'var(--secondary--cp)'
        },

        /**
         * type: string. default: 'mdi-lock-check'
         */
        icon_archived: {
            type: String,
            default: 'mdi-lock-check',
        },

        /**
         * type: string. default: var(--secondary-cp)
         */
        icon_color_archived: {
            type: String,
            default: 'var(--secondary--cp)'
        },
    }, 

    computed: {
        state_selector(): number {
            if(this.value === this.state_opened) {
                return 0
            }
            if(this.value === this.state_closed) {
                return 1
            }
            if(this.value === this.state_archived) {
                return 2
            }
            return -1
        },
    },

    methods: {
        ev_change(data: string) {
            return this.$emit("ev_change", data)
        },
    },
})
</script>

<style scoped>

</style>
