<template>
    <div
        class="g-color-text"
    >
        <v-form
            ref="form"
            @submit.prevent
        >
            <v-text-field
                dense
                outlined
                class="mt-6"
                prefix="#"
                style="width: 100px"
                :rules="rules"
                v-model="data_value"
                @change="ev_change"
                @keyup="ev_change"
            >
            </v-text-field>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            data_value: '' as string,

            rules: [
                (v: string) => !!v || this.$transl8.t("#::required").toString(),
                (v: string) => (v && v.length === 6) || this.$transl8.t("#::invalid").toString(),
            ],
        }
    },

    props: {
        /**
         * type: string. default: ''.
         */
        data: {
            type: String,
            default: '',
        },
    },

    watch: {
        data: {
            immediate: true,
            handler(nv: string) {
                this.data_value = nv;
            },
        }
    },

    methods: {
        ev_change(e: string, d: string) {
            
            this.data_value = this.data_value.slice(0, 6);

            if((this.$refs.form as any).validate() === true) {
                this.$emit('ev_change', this.data_value);
            }
        },
    },
})
</script>

<style scoped>

</style>
