<template>
    <div
        class="g-color-ro"
    >
        <v-row
            class="mt-6"
            align="center"
        >
            <v-col
                cols="6"
                class="text-right"
            >
                <GColorPreview
                    :data="data"  
                >
                </GColorPreview>
            </v-col>

            <v-col
                cols="6"
                class="text-left"
            >
                #{{ data }}
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            data: '000000',
        }
    },

    props: {
        /**
         * type: string. required.
         * used combined with category in order to use assets.
         */
        asset_identifier: {
            type: String,
            required: true,
        },

        /**
         * type: string. default: 'assets-color'
         * used combined with assetid in order to use assets.
         */
        asset_category: {
            type: String,
            default: 'assets-color',
        },
    },

        methods: {
        /**
         * pull data from server
         */
        async pull_data() {
            this.$tsmapi.content().ContentGet(this.asset_identifier, this.asset_category)
            .then((e) => {
                this.data = e.response?.content! || '000000'
            })
            .catch((e) => {
                this.data = '000000'
            })
        },
    },

    async fetch() {
        this.pull_data();
    },
})
</script>

<style scoped>

</style>
