<template>
    <div
        class="g-color-tile"
    >
        <div
            class="color-corner"
            :style="{ 'background': `#${data}` }"
        >
            &nbsp;
        </div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    props: {
        /**
         * type: string. default: ''
         */
        data: {
            type: String,
            default: '',
        },
    },
})
</script>

<style scoped>
.color-corner {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    display: inline-block;
}
</style>
