<template>
    <div class="g-form-textfield">
        <v-form 
            ref="form"
            v-model="form"
            @submit.prevent
        >
            <v-text-field
                :label="$transl8.t(label)"
                :rules="rules"
                :prepend-icon="icon"
                :value="value"
                :tabindex="tabindex"
                :background-color="background_color"
                v-on:keydown.prevent.enter
                v-on:change="ev_change"
                v-on:input="ev_change"
                dense
                hide-details="auto"
            >
                <template slot="prepend">
                    <v-icon
                        :color="icon_color"
                    >
                        {{ icon }}
                    </v-icon>
                </template>
            </v-text-field>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,

            plain: false,
            rules: [] as Array<(v: string) => string | true>,
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. default: ''.
         */
        value: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: #::password
         */
        label: {
            type: String,
            default: '#::textfield',
        },

        /**
         * type: string. default: mdi-lock.
         */
        icon: {
            type: String,
            default: 'mdi-text',
        },

        /**
         * type: string. default: var(--primary-cp)
         */
        icon_color: {
            type: String,
            default: 'var(--primary-cp)'
        },

        /**
         * type: string. default: #F8F8F8
         */
        background_color: {
            type: String,
            default: '#F8F8F8'
        },

        /**
         * type: array<function>. default: []
         */
        rules_override: {
            type: [] as PropType<Array<(v: string) => string | true>>,
            default: () => [],
        },

        /**
         * type: number. default: 100.
         */
        tabindex: {
            type: Number,
            default: 100,
        },
    },

    methods: {
        ev_validate(): void {
            (this.$refs.form as any).validate()
            if(this.form === false) {
                return
            }
        },
        ev_change(d: string) {
            this.$emit('ev_change', d);
        }
    }, 

    watch: {
        rules_override: {
            immediate: true,
            handler(nv: Array<(v: string) => string | true>): void {
                this.rules = nv;
            },
        },
    },
})
</script>

<style scoped>

</style>
