<template>
    <div class="g-form-password">
        <v-form 
            ref="form"
            v-model="form"
            @submit.prevent
        >
            <v-text-field
                :label="$transl8.t(label)"
                :rules="rules"
                :prepend-icon="icon"
                :type="plain ? 'text' : 'password'"
                :append-icon="plain ? 'mdi-eye' : 'mdi-eye-off'"
                :value="value"
                :tabindex="tabindex"
                :background-color="background_color"
                v-on:click:append="plain = !plain"
                v-on:keydown.prevent.enter
                v-on:change="ev_change"
                v-on:input="ev_change"
                hide-details="auto"
            >
                <template slot="prepend">
                    <v-icon
                        :color="icon_color"
                    >
                        {{ icon }}
                    </v-icon>
                </template>
            </v-text-field>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,

            plain: false,
            rules: [
                (v: string) => ((this.validate_require_minlength === -1 || v.length >= this.validate_require_minlength)) || this.$transl8.t(this.validate_label_minlength).toString().replace('{{ n }}', this.validate_require_minlength.toString()),
                (v: string) => ((this.validate_require_maxlength === -1 || v.length <= this.validate_require_maxlength)) || this.$transl8.t(this.validate_label_maxlength).toString().replace('{{ n }}', this.validate_require_maxlength.toString()),
                (v: string) => ((this.validate_require_containsnumber === false || v.match(/[0-9]/) !== null)) || this.$transl8.t(this.validate_label_containsnumber).toString(),
                (v: string) => ((this.validate_require_containsalphalower === false || v.match(/[a-z]/) !== null)) || this.$transl8.t(this.validate_label_containsalphalower).toString(),
                (v: string) => ((this.validate_require_containsalphaupper === false || v.match(/[A-Z]/) !== null)) || this.$transl8.t(this.validate_label_containsalphaupper).toString(),
                (v: string) => ((this.validate_require_containsspecial === false || this.validate_require_allowedspecial.test(v) === true)) || this.$transl8.t(this.validate_label_containsspecial).toString(),
                // (v: string) => ((this.validate_require_exactvalue === '' || this.validate_require_exactvalue === v)) || this.$transl8.t(this.validate_label_exactvalue).toString(),
            ] as Array<(v: string) => string | true>,
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. default: ''.
         */
        value: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: #::password
         */
        label: {
            type: String,
            default: '#::password',
        },

        /**
         * type: string. default: mdi-lock.
         */
        icon: {
            type: String,
            default: 'mdi-lock',
        },

        /**
         * type: string. default: var(--primary-cp)
         */
        icon_color: {
            type: String,
            default: 'var(--primary-cp)'
        },

        /**
         * type: string. default: #F8F8F8
         */
        background_color: {
            type: String,
            default: '#F8F8F8'
        },

        /**
         * type: array<function>. default: []
         */
        rules_override: {
            type: [] as PropType<Array<(v: string) => string | true>>,
            default: () => [],
        },

        /**
         * type: number. default: 100.
         */
        tabindex: {
            type: Number,
            default: 100,
        },

        /**
         * type: number. default: -1.
         */
        validate_require_minlength: {
            type: Number,
            default: -1,
        },

        /**
         * type: string. default: #::validate_tooshort_nlength
         */
        validate_label_minlength: {
            type: String,
            default: '#::validate_tooshort_nlength',
        },

        /**
         * type: number. default: -1.
         */
        validate_require_maxlength: {
            type: Number,
            default: -1,
        },

        /**
         * type: string. default: #::validate_toolong_nlength
         */
        validate_label_maxlength: {
            type: String,
            default: '#::validate_toolong_nlength',
        },

        /**
         * type: boolean. default: false.
         */
        validate_require_containsnumber: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #::validate_mustcontain_number
         */
        validate_label_containsnumber: {
            type: String,
            default: '#::validate_mustcontain_number'
        },

        /**
         * type: boolean. default: false.
         */
        validate_require_containsalphaupper: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #::validate_mustcontain_alphaupper
         */
        validate_label_containsalphaupper: {
            type: String,
            default: '#::validate_mustcontain_alphaupper'
        },

        /**
         * type: boolean. default: false.
         */
        validate_require_containsalphalower: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #::validate_mustcontain_alphalower
         */
        validate_label_containsalphalower: {
            type: String,
            default: '#::validate_mustcontain_alphalower'
        },

        /**
         * type: boolean. default: false.
         */
        validate_require_containsspecial: {
            type: Boolean,
            default: false,
        },

        /**
         * type: regexp. default: /[.:,;\-_+*?!"'§$&/()=#]/.
         */
        validate_require_allowedspecial: {
            type: RegExp,
            default: () => /[.:,;\-_+*?!"'§$&/()=#\[\]]/,
        },

        /**
         * type: string. default: #::validate_mustcontain_special
         */
        validate_label_containsspecial: {
            type: String,
            default: '#::validate_mustcontain_special'
        },

        /**
         * type: string. default: ''
         */
        /*
        validate_require_exactvalue: {
            type: String,
            default: '',
        },
        */

        /**
         * type: string. default: #::validate_mustmatch_passwords
         */
        /*
        validate_label_exactvalue: {
            type: String,
            default: '#::validate_mustmatch_passwords',
        },
        */
    },

    methods: {
        ev_validate(): void {
            (this.$refs.form as any).validate()
            if(this.form === false) {
                return
            }
        },
        ev_change(d: string) {
            this.$emit('ev_change', d);
        }
    }, 

    watch: {
        rules_override: {
            immediate: true,
            handler(nv: Array<(v: string) => string | true>): void {
                this.rules = nv;
            },
        },
    },
})
</script>

<style scoped>

</style>
