<template>
    <div class="g-form-checkbox">
        <v-form 
            ref="form"
            v-model="form"
            @submit.prevent
        >
            <v-checkbox
                :label="$transl8.t(label)"
                hide-details="auto"
                :prepend-icon="icon"
                @keyup.enter.prevent
                v-model="value"
                :tabindex="tabindex"
                :color="icon_color"
            >
                <template 
                    v-slot:label
                    v-if="label !== ''"
                >
                    <slot
                        name="label"
                    >
                        {{ $transl8.t(label) }}
                    </slot>
                </template>
            </v-checkbox>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data() {
        return {
            form: false,
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: boolean. default: false.
         */
        value: {
            type: Boolean,
            default: false,
        },

        /**
         * type: string. default: #::checkbox
         */
        label: {
            type: String,
            default: '#::checkbox',
        },

        /**
         * type: string. default: ''.
         */
        icon: {
            type: String,
            default: '',
        },

        /**
         * type: string. default: var(--primary-cp)
         */
        icon_color: {
            type: String,
            default: 'var(--primary-cp)'
        },

        /**
         * type: number. default: 100.
         */
        tabindex: {
            type: Number,
            default: 100,
        },
    },

    methods: {
        ev_validate(): void {
            (this.$refs.form as any).validate()
            if(this.form === false) {
                return
            }
        },
        ev_change(data: boolean) {
            this.$emit('ev_change', data);
        }
    }, 
})
</script>

<style scoped>

</style>
