<template>
    <div
        class="g-form-wysiwyg"
    >
        <div 
            :id="editor__id"
            :style="{ height: this.height }"
            class="editor my-0 py-0 font--content1" 
            @input="ev_change"
        ></div>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Quill from 'quill'
import { RndGen } from '~/tsmodules/rndgen'

export default Vue.extend({
    data() {
        return {
            form: false,
            rules: [] as Array<(v: string) => string | true>,

            editor__id: '',
            editor__instance: {} as Quill,

            value_local: '',
        }
    },

    model: {
        prop: 'value',
        event: 'ev_change',
    },

    props: {
        /**
         * type: string. default: ''
         */
        value: {
            type: String,
            default: '',
        },

        /**
         * type: number. default: 100.
         */
        tabindex: {
            type: Number,
            default: 100,
        },

        /**
         * type: string. default: 120px.
         */
        height: {
            type: String,
            default: '280px',
        }
    },

    methods: {
        ev_change(data: any): void {
            var content = JSON.stringify(this.editor__instance.getContents())
            this.value_local = content
            this.$emit('ev_change', content);
        }
    },

    watch: {
        rules_override: {
            immediate: true,
            handler(nv: Array<(v: string) => string | true>): void {
                this.rules = nv;
            },
        },
        value: {
            immediate: false,
            handler(nv: string, ov: string) {
                // empty
                if(nv === '') {
                    this.editor__instance.setText('')
                }

                // prevent loop
                if(this.value_local === this.value) {
                    return
                }

                // set values
                try {
                    this.editor__instance.setContents(JSON.parse(this.value));
                }
                catch(e) {
                    this.editor__instance.setText('')
                }
            },
        },
    },

    computed: {
        value_html(): string {
            return this.editor__instance.root.innerHTML
        },

        value_data(): string {
            return JSON.stringify(this.editor__instance.getContents())
        },
    },

    beforeMount() {
        this.editor__id = "editor-" + new RndGen().UUIDv4().toString()
    },

    mounted() {
        this.editor__instance = new Quill("#" + this.editor__id, { theme: 'snow' });
        document.getElementById(this.editor__id)?.getElementsByClassName("ql-editor")[0].setAttribute('tabindex', this.tabindex.toString());
    },
})
</script>

<style scoped>
.editor > h1 {
    font-family: 'Baloo2-SemiBold';
    font-size: 20px;
    letter-spacing: 1.4px;
}
.editor > h2 {
    font-family: 'Baloo2-Regular';
    font-size: 18px;
}
.editor > h3 {
    font-family: 'Baloo2-Regular';
    font-size: 16px;
}
.editor > p, .editor > p *, .editor > ul * {
    font-size: 16px;
}
</style>
