<template>
    <v-footer
        app
        style="background: rgb(2,0,36); background: linear-gradient(210deg, rgba(2,0,36,1) 0%, rgba(25,118,210,1) 35%, rgba(100,181,246,1) 100%);"
    >
        <v-row no-gutters>
            <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>

            <v-col cols="12" xs="12" sm="12" md="10" lg="8" xl="8">
                <v-row no-gutters align="center">
                    <v-col cols="8" class="footerleft-container">
                        <nuxt-link 
                            to="/p/imprint" 
                            class="footerleft-text"
                        >
                            {{ $transl8.t('#::global_imprint') }}
                        </nuxt-link>

                        <small class="footerleft-text">
                            |
                        </small>

                        <nuxt-link 
                            to="/p/privacypolicy" 
                            class="footerleft-text"
                        >
                            {{ $transl8.t('#::global_privacypolicy') }}
                        </nuxt-link>

                        <small class="footerleft-text">
                            |
                        </small>

                        <nuxt-link 
                            to="/p/aboutus" 
                            class="footerleft-text"
                        >
                            {{ $transl8.t('#::global_aboutus') }}
                        </nuxt-link>

                        <small class="footerleft-text">
                            |
                        </small>

                        <nuxt-link 
                            to="/p/intro" 
                            class="footerleft-text"
                        >
                            {{ $transl8.t('#::global_language') }}
                        </nuxt-link>

                        <small class="footerleft-text">
                            |
                        </small>

                        <a
                            :href="$transl8.t('#::document_whistleblower')"
                            target="_blank"
                            class="footerleft-text"
                        >
                            {{ $transl8.t('#::global_whistleblowerpolicy') }}
                        </a>
                    </v-col>

                    <v-col cols="4" class="footerright-container">
                        <a 
                            href="http://rdev.at"
                            target="_blank"
                            class="footerright-text"
                        >
                            {{ new Date().getFullYear() }} <strong>Reveil</strong>
                        </a>
                    </v-col>
                </v-row>
            </v-col>
            
            <v-col cols="0" xs="0" sm="0" md="1" lg="2" xl="2"></v-col>
        </v-row>
    </v-footer>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    
})
</script>

<style scoped>

.footerleft-container {
    text-align: left;
    vertical-align: center;
}
.footerleft-text {
    color: var(--primary-cb);
    font-size: 15px;
    font-family: 'Baloo2-Regular';
    text-decoration: none;
}
.footerright-container {
    text-align: right;
    vertical-align: center;
}
.footerright-text {
    color: var(--primary-cb);
    font-size: 16px;
    font-family: 'Baloo2-Regular';
    text-decoration: none;
}
</style>
