<template>
    <div>
        <v-row justify="center">
            <v-col xs="10" sm="10" md="10" lg="10" xl="10" class="text-left">
                <v-row>
                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <v-select
                            v-model="select_identifier"
                            :items="identifier_items"
                            item-text="text"
                            item-value="value"
                            dense
                            prepend-icon="mdi-text"
                        >
                        </v-select>
                    </v-col>

                    <v-col cols="12" xs="12" sm="12" md="12" lg="6" xl="6">
                        <GLanguageSelect
                            v-model="select_language"
                            :languages="this.$locales.language_list()"
                        >
                        </GLanguageSelect>
                    </v-col>
                </v-row>
                <GContentRw
                    v-if="select_identifier !== '' && select_language !== '' && !!identifier_items.find((e) => e.value === select_identifier && e.type === 'content')"
                    :asset_identifier="select_identifier"
                    :asset_language="select_language"
                >
                </GContentRw>

                <GTextRw
                    v-else-if="select_identifier !== '' && select_language !== '' &&  !!identifier_items.find((e) => e.value === select_identifier && e.type === 'txtline')"
                    :asset_identifier="select_identifier"
                    :asset_language="select_language"
                >
                </GTextRw>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            select_identifier: '',
            select_language: '',
            v: {},
        }
    },

    computed: {
        identifier_items() {
            return [
                { 'type': 'content', 'text': this.$transl8.t('#::global_landingpage'), 'value': 'p-landingpage' },
                { 'type': 'content', 'text': this.$transl8.t('#::global_imprint'), 'value': 'p-imprint' },
                { 'type': 'content', 'text': this.$transl8.t('#::global_aboutus'), 'value': 'p-aboutus' },
                { 'type': 'content', 'text': this.$transl8.t('#::global_privacypolicy'), 'value': 'p-privacypolicy' },
                { 'type': 'txtline', 'text': this.$transl8.t('#::global_website_title_upper_line'), 'value': 'layout-headline-1' },
                { 'type': 'txtline', 'text': this.$transl8.t('#::global_website_title_lower_line'), 'value': 'layout-headline-2' },
            ]
        },
    },
})
</script>

<style scoped>

</style>
