<template>
    <div>
        <v-row justify="center">
            <v-col xs="10" sm="10" md="10" lg="10" xl="10" class="text-left">
                <template
                    v-if="case_ref_value === ''"
                >
                    <GCaselist
                        v-on:ev_element_click="ev_element_click"
                    >
                    </GCaselist>
                </template>

                <template
                    v-if="case_ref_value !== ''"
                >
                    <v-row
                        no-gutters
                    >
                        <GFormButton
                            :label="$transl8.t('#::global_navigate_back')"
                            icon="mdi-chevron-left"
                            icon_color="var(--secondary-cp)"
                            v-on:ev_click="case_ref_value = ''"
                        >   
                        </GFormButton>

                        <v-spacer></v-spacer>

                        <GCasestate
                            v-model="case_state"
                        >
                        </GCasestate>
                    </v-row>

                    <v-row
                        no-gutters
                    >
                        <v-col 
                            cols="12"
                        >
                            <v-divider
                                class="my-4"
                            >
                            </v-divider>

                            <GChat
                                v-model="case_ref_value"
                                editor_enable
                            >
                            </GChat>
                        </v-col>
                    </v-row>
                </template>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { IModelCase } from '~/tsmodules/api/case/models';

export default Vue.extend({
    data() {
        return {
            case_ref_value: '',
            case_state: '',
        }
    },

    methods: {
        ev_element_click(v: IModelCase) {
            this.case_ref_value = v.id;
        },
    },

    watch: {
        case_state: {
            immediate: false,
            handler(nv: string, ov: string) {
                this.$tsmapi.case().CaseState(this.case_ref_value, nv)
            },
        },
    },
})
</script>

<style scoped>

</style>
