<template>
    <div>
        <v-row justify="center">
            <v-col cols="10" xs="10" sm="10" md="10" lg="3" xl="3" class="text-center">
                <GLinkImg
                    link="/m/case"
                    :src="require(`~/assets/images/postbox.jpg`)"
                    label="#::global_case"
                    image_width="100%"
                    image_height="200px"
                >
                </GLinkImg>
            </v-col>

            <v-col cols="10" xs="10" sm="10" md="10" lg="3" xl="3" class="text-center">
                <GLinkImg
                    link="/m/assetcontent"
                    :src="require(`~/assets/images/notewriting3.jpg`)"
                    label="#::global_content"
                    image_width="100%"
                    image_height="200px"
                >
                </GLinkImg>
            </v-col>

            <v-col cols="10" xs="10" sm="10" md="10" lg="3" xl="3" class="text-center">
                <GLinkImg
                    link="/m/assetimages"
                    :src="require(`~/assets/images/frames.jpg`)"
                    label="#::global_images"
                    image_width="100%"
                    image_height="200px"
                >
                </GLinkImg>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({

})
</script>

<style scoped>

</style>
