:root {
    --primary-cp: #1976D2;
    --primary-cl: #64B5F6;
    --primary-cb: #FFF;

    --secondary-cp: #FF8F00;
    --secondary-cl: #fcc47c;
    --secondary-cb: #FFF;

    --link-cp: #1976D2;
    --link-cl: #64B5F6;
    --link-cb: #FFF;

    --info-cp: #26A69A;
    --info-cl: #63a39d;
    --info-cb: #FFF;

    --warning-cp: #FFC107;
    --warning-cl: #fae4a2;
    --warning-cb: #FFF;

    --error-cp: #c03918;
    --error-cl: #FF4F33;
    --error-cb: #FFF;

    --success-cp: #169e5a;
    --success-cl: #c9e9e1;
    --success-cb: #030303;

    --enabled-cp: #1976D2;
    --enabled-cl: #729cc7;
    --enabled-cb: #FFF;

    --disabled-cp: #9E9E9E;
    --disabled-cb: #FFF;
}