.fade-enter-active, .home-leave-active { 
    transition: opacity 0.3s; 
}

.fade-enter, .home-leave-active { 
    opacity: 0; 
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
