<template>
    <div>
        <v-pagination
            v-model="page"
            :length="page_amount"
            v-on:input="ev_change"
            color="var(--success-cp)"
            class="mt-2"
        >
        </v-pagination>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
    data() {
        return {

        }
    },

    model: {
        event: 'ev_change',
        prop: 'page',
    },
    
    props: {
        /**
         * type: number. default: 1
         */
        page: {
            type: Number,
            default: 1,
        },

        /**
         * type: number. default: 1
         */
        page_amount: {
            type: Number,
            default: 1,
        },
    },

    methods: {
        ev_change(v: Number) {
            this.$emit("ev_change", v);
            // this.$router.push({ path: '.', query: { a: this.page.toString() } });
        },
    }
})
</script>

<style scoped>

</style>
