<template>
    <div>
        <v-data-table
            :loading="$fetchState.pending === true"
            :items="data"
            :headers="head"
            :items-per-page="-1"
            :server-items-length="data.length"

            disable-pagination
            hide-default-footer

            :no-data-text="$transl8.t('#::global_empty_list')"
            :no-results-text="$transl8.t('#::global_empty_list')"
        >
            <template
                v-slot:loading
            >
                <GLoadingCircle
                    class="mt-4 mb-4"
                >
                </GLoadingCircle>
            </template>

            <template
                v-slot:item="{ item }"
            >  
                <GCaselistElement
                    :data="item"
                    @click.native="ev_element_click(item)"
                >
                </GCaselistElement>
            </template>

            <template
                v-slot:footer
            >  
                <GCaselistPagination
                    v-if="$fetchState.pending === false"
                    v-model="page"
                    v-on:ev_change="ev_pagination_change"
                    :page_amount="page_amount"
                >
                </GCaselistPagination>
            </template>
        </v-data-table>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelCase } from '~/tsmodules/api/case/models'

export default Vue.extend({
    data() {
        return {
            data: [] as Array<IModelCase>,

            page: 1,
            page_amount: 1,

            head: [
                { text: this.$transl8.t('#::global_subject'), value: 'subject', align: 'start', sortable: false, filterable: false, },
                { text: this.$transl8.t('#::global_datetime'), value: 'datetime', align: 'center', width: '25%', sortable: false, filterable: false, },
                { text: this.$transl8.t('#::global_state'), value: 'state', align: 'center', width: '10%', sortable: false, filterable: false, },
            ],
        }
    },
    
    props: {
        /**
         * type: number. default: 10
         */
        page_size: {
            type: Number,
            default: 12,
        },
    },

    async fetch() {
        this.data = await this.$tsmapi.case().CaseGetAll(true, false, false, this.page, this.page_size)
        this.page_amount = Math.ceil((await this.$tsmapi.case().CaseCount()) / this.page_size)
    },

    methods: {
        ev_element_click(v: IModelCase) {
            this.$emit("ev_element_click", v)
        },
        ev_pagination_change(v: Number) {
            this.data = [];
            this.$router.push({ path: '', query: { 'p': this.page.toString() } })
            this.$fetch();
        }
    },

    beforeMount() {
        this.page = Number(this.$route.query.p || 1);
    },
})
</script>

<style scoped>

</style>
