<template>
    <div class="g-chat-journal">
        <v-timeline-item
            class="mb-4"
            small
        >
            <v-row 
                dense 
            >
                <v-col 
                    cols="12" 
                    sm="12" 
                    md="3" 
                    class="text-left"
                >
                    <v-row
                        dense
                    >
                        <v-col 
                            cols="12" 
                            sm="12" 
                            md="5" 
                            class="text-left"
                        >
                            <v-chip
                                class="mx-2"
                                color="purple"
                                outlined
                                small
                                label
                            >
                                {{ get_category }}
                            </v-chip>
                        </v-col>

                        <v-col 
                            cols="12" 
                            sm="12" 
                            md="7" 
                            class="px-4 text-left"
                        >
                            <small>{{ get_time }} {{ get_date }}</small>
                        </v-col>
                    </v-row>
                </v-col>

                <v-col 
                    cols="12" 
                    sm="12" 
                    md="9" 
                    class="px-4 text-left"
                >
                    <span>
                        {{ get_message }}
                    </span>
                </v-col>
            </v-row>
        </v-timeline-item>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Template } from '~/tsmodules/template'
import { IModelJournal } from '~/tsmodules/api/journal/models'

export default Vue.extend({
    props: {
        /**
         * type: string. required.
         */
        case_ref: {
            type: String,
            required: true,
        },

        /**
         * type: IModelJournal. required.
         */
        data: {
            type: Object as PropType<IModelJournal>,
            required: true,
        }
    },

    computed: {
        get_category(): string {
            if(this.data.response.code !== null && this.data.response.code! > 100 && this.data.response.code! < 200) {
                return this.$transl8.t('#::gchatjournal_category_user').toString()
            }
            if(this.data.response.code !== null && this.data.response.code! > 200 && this.data.response.code! < 300) {
                return this.$transl8.t('#::gchatjournal_category_mgmt').toString()
            }
            if(this.data.response.code !== null && this.data.response.code! > 300 && this.data.response.code! < 400) {
                return this.$transl8.t('#::gchatjournal_category_case').toString()
            }
            if(this.data.response.code !== null && this.data.response.code! > 500 && this.data.response.code! < 600) {
                return this.$transl8.t('#::gchatjournal_category_auth').toString()
            }
            return this.$transl8.t('#::gchatjournal_category_unknown')
        },
        get_message(): string {
            var ctx = {
                case: { id: this.case_ref },
                // todo opended ticket #202
                // mgmt: { name: 'mangement-username'}
            }

            if(this.data.response.code !== null) {
                return new Template().RenderTemplate(this.$transl8.t('#::gchatjournal_event_' + this.data.response.code).toString(), ctx)
            }
            return this.$transl8.t('#::gchatjournal_event_unknown')
        },
        get_date(): string {
            return new Date(this.data.response.creationDate || '').toLocaleDateString()
        },
        get_time(): string {
            return new Date(this.data.response.creationDate || '').toLocaleTimeString()
        }
    },
})
</script>

<style scoped>

</style>
