<template>
    <div class="g-chat-message">
        <v-timeline-item
            :color="get_color"
            :icon="get_icon"
            fill-dot
        >
            <v-card
                :color="get_color"
                class="elevation-2"
                dark
            >
                <v-card-title 
                    class="card-title font--headline2 py-1"
                >
                    {{ get_author }}
                </v-card-title>

                <v-card-text 
                    class="card-text white text--primary"
                >
                    <p class="text-left font--content1 textflow pt-4" v-html="get_message"></p>

                    <v-row class="pt-1" align="end">
                        <v-col cols="3" xs="3" sm="3" md="6" lg="6" xl="6" class="text-left">
                            <v-btn
                                icon
                                x-small
                                v-if="get_files.length !== 0" 
                                v-on:click="filelist_show = true"
                            >
                                <v-icon
                                    color="var(--secondary-cp)"
                                >
                                    mdi-paperclip
                                </v-icon>
                            </v-btn>
                        </v-col>
                        <v-col cols="9" xs="9" sm="9" md="6" lg="6" xl="6" class="text-right">
                            <small class="font--content2 my-0">
                                <v-icon
                                    small
                                    color="var(--secondary-cp)"
                                    class="ml-2"
                                >
                                    mdi-clock-outline
                                </v-icon>
                                {{ get_time }}

                                <v-icon
                                    small
                                    color="var(--secondary-cp)"
                                    class="ml-2"
                                >
                                    mdi-calendar
                                </v-icon>
                                {{ get_date }}
                            </small>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-timeline-item>

        <GChatFileList
            v-model="filelist_show"
            :files="get_files"
        >
        </GChatFileList>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelFile } from '~/tsmodules/api/file/models'
import { IModelMessage } from '~/tsmodules/api/message/models'

export default Vue.extend({
    data() {
        return {
            filelist_show: false,
        }
    },  

    props: {
        /**
         * type: IModelMessage. required.
         */
        data: {
            type: Object as PropType<IModelMessage>,
            required: true,
        }
    },

    computed: {
        get_files(): Array<IModelFile> {
            return this.data.computed_files
        },
        get_subject(): string {
            return this.data.payload.subject
        },
        get_message(): string {
            return this.data.payload.message
        },
        get_message_send(): boolean {
            return true;
        },
        get_message_read(): boolean {
            return false;
        },
        get_time(): string {
            var t = new Date(this.data.response.creationDate || '')
            return t.toLocaleTimeString('de-DE')
        },
        get_date(): string {
            var t = new Date(this.data.response.creationDate || '')
            return t.toLocaleDateString('de-DE')
        },
        get_author(): string {
            if(this.data.computed_author !== null) {
                return this.$transl8.t('#::gchatmessage_from_mgmt').toString().replace("{{ mgmt.name }}", this.data.computed_author.response.name || '')
            }
            return this.$tsmapi.authuser().AuthUserState() !== null ? this.$transl8.t('#::gchatmessage_from_self').toString() : this.$transl8.t('#::gchatmessage_from_anon').toString()
        },
        get_icon(): string {
            if(this.data.computed_author !== null) {
                return 'mdi-account-group';
            } 
            return 'mdi-account';
        },
        get_color(): string {
            var name = this.data.computed_author?.response.name || '#';
            var colors = ["#e51c23", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5", "#5677fc", "#03a9f4", "#00bcd4", "#009688", "#259b24", "#8bc34a", "#afb42b", "#ff9800", "#ff5722", "#795548", "#607d8b"]
            var hash = 0;
            if (name.length === 0) return '';
            for (var i = 0; i < name.length; i++) {
                hash = name.charCodeAt(i) + ((hash << 5) - hash);
                hash = hash & hash;
            }
            hash = ((hash % colors.length) + colors.length) % colors.length;
            return (name !== '#') ? colors[hash] : '#555555';
        },
    },
})
</script>

<style scoped>
.textflow {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
</style>
