<template>
    <div class="g-chat-loading">
        <v-timeline-item
            fill-dot
            icon="mdi-loading"
        >
            <v-skeleton-loader
                type="image"
                height="120px"
            >
            </v-skeleton-loader>

        </v-timeline-item>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({

})
</script>

<style scoped>

</style>
