<template>
    <div class="g-chat-file-list">
        <GPopup
            :show="show"
            v-on:ev_change="(e) => $emit('ev_change', e)"
        >
            <template slot="head">
                {{ $transl8.t('#::global_files') }}
            </template>

            <template slot="body">
                <GChatFileDl
                    v-for="file in files"
                    :key="file.response.fileId"
                    :file="file"
                >
                </GChatFileDl>
            </template>
        </GPopup>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { IModelFile } from '~/tsmodules/api/file/models'

export default Vue.extend({
    model: {
        prop: 'show',
        event: 'ev_change',
    },

    props: {
        /**
         * type: boolean. required.
         */
        show: {
            type: Boolean,
            required: true,
        },

        /**
         * type: Array<IModelFile>. default: []
         */
        files: {
            type: [] as PropType<Array<IModelFile>>,
            default: () => [],
        },
    },

    methods: {
        ev_change(data: boolean) {
            this.$emit('ev_change', data);
        },
    },
})
</script>

<style scoped>

</style>
